<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="3155 Project Group 18">
        <title>Pogger Events</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='head_nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>

        <h1>Homepage </h1>
        <bar><nav>
            <a href="{{ url_for('index') }}"> Home</a> ||
            <a href="{{ url_for('get_events') }}"> Events</a> ||
            {% if user %}
            <a href="{{ url_for('get_users_events') }}"> Your Events</a> ||
            {% endif %}
            <a href="{{ url_for('contact_us') }}"> Contact Us</a> ||
            <a href="{{ url_for('about_us') }}"> About Us</a> ||
            <a href="{{ url_for('rsvp_page') }}"> RSVP</a> ||
        </nav></bar>
        {% if user %}
        <register>
            <a href="{{ url_for('logout') }}">Logout</a>
        </register>
        {% else %}
        <register>
            <a href="{{ url_for('register') }}"> Register</a>
            <a href="{{ url_for('login') }}"> Log-in</a>
        </register>
        {% endif %}
        <main>
            <h2>WELCOME!!</h2>
            <p>The Group 18 events app is used for creating, editing, and viewing events created by YOU (if you have an account) and others!
            <br>Your first step should be to Log-in or check your Events page, then maybe see what others have listed as well!
            <br>You can also RSVP to events while viewing them.</p>
            <br>
            <br>
            <p>this app is for Group 18 of 3155<br>Our group consists of Anthony T, Bishwa P, Trey M, Branden R, Tyriq B, and Mat R </p>
        </main>

    </body>
</html>